<div class="contenedor rectangle" *transloco="let t, read 'contact'">
  <h1 class="texto">{{t('title')}}</h1>
</div>
<section class="container" *transloco="let t, read 'contact'">
  <div class="row">
    <div class="col-auto">
      <p class="lead">
        {{t('parag')}}
      </p>
      <div class="row">
        <div class="col-md-4">
          <h1>
            <a
              target="_blank"
              href="https://www.linkedin.com/in/luca-terzariol/"
            >
              <fa-icon [icon]="faLinkedinIn" id="LI"></fa-icon>
            </a>
          </h1>
        </div>
        <div class="col-md-4">
          <h1>
            <a target="_blank" href="https://github.com/Teradriel">
              <fa-icon [icon]="faGithub" id="GH"></fa-icon>
            </a>
          </h1>
        </div>
        <div class="col-md-4">
          <h1>
            <a target="_blank" href="mailto:inglterzariol@gmail.com">
              <fa-icon [icon]="faEnvelope" id="Mail"></fa-icon>
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
