<section *transloco="let t, read 'about'">
  <div class="contenedor rectangle">
    <h1 class="texto">{{t('title')}}</h1>
  </div>
  <div>
    <p>{{t('1_parag')}}
    </p>
    <p>{{t('2_parag')}}
    </p>
    <p>{{t('3_parag')}}
    </p>
    <p>{{t('4_parag')}} 
      <q>{{t('x4_parag')}}</q>
    </p>
    <p>{{t('5_parag')}} <a class="url" (click)="key()">{{t('key')}}</a> {{t('51_parag')}}
      <a href="https://www.guildwars2.com/">Guild Wars 2</a>. {{t('x5_parag')}}
    </p>
    <p>{{t('6_parag')}}
    </p>
    <p>{{t('7_parag')}}
    </p>
    <h5>{{t('8_parag')}}
      <br />
      {{t('x8_parag')}}
    </h5>
  </div>
</section>
