h1,
h5 {
  text-align: center;
}

h1{
  font-size: 30px;
}

p {
  margin-left: 12.5%;
  text-align: justify;
  width: 75%;
}

q {
  font-size: small;
}

a{
  cursor: pointer;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }

  .featurette {
    align-items: center;
    justify-items: center;
  }

  h1 {
    font-size: 4rem;
  }
}