<section *transloco="let t, read 'home'">
  <div class="rectangle contenedor">
    <div class="texto">
      <h1>Luca Terzariol</h1>
      <p>{{t('ing_sub')}}
      </p>
    </div>
  </div>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <div class="circle" id="ing"></div>
        <h2>{{t('ing_title')}}</h2>
        <p>{{t('ing_parag')}}
        </p>
      </div>
      <div class="col-lg-4">
        <div class="circle" id="dev"></div>
        <h2>{{t('dev_title')}}</h2>
        <p>{{t('dev_parag')}}
        </p>
      </div>

      <div class="col-lg-4">
        <div class="circle" id="musico"></div>
        <h2>{{t('mus_title')}}</h2>
        <p>{{t('mus_parag')}}
        </p>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          FrontEnd:
          <span class="text-muted">Angular</span>
        </h2>
        <p class="lead">{{t('angul_parag')}}
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/images/Angular_full_color_logo.svg.png"
          alt="Angular"
          width="200"
          height="200"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          BackEnd:
          <span class="text-muted">{{t('java-php')}}</span>
        </h2>
        <p class="lead">{{t('java_parag')}}
        </p>
        <p class="lead">{{t('php_parag')}}
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../assets/images/php.png" alt="php" />
        <img src="../../../assets/images/java.png" alt="java" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          
          <span class="text-muted">.NET</span>
        </h2>
        <p class="lead">{{t('net_parag')}}
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/images/Microsoft_.NET_logo.png"
          alt=".NET"
          width="200"
          height="200"
        />
      </div>
    </div>
    
    <hr class="featurette-divider" />
  </div>
</section>
