<div class="contenedor rectangle" *transloco="let t, read 'projects'">
  <h1 class="texto">{{t('title')}}</h1>
</div>
<section *transloco="let t, read 'projects'">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        {{t('calc')}}
        <span class="text-muted">HTML + CSS + JS</span>
      </h2>
      <p class="lead">
        {{t('calc_parag')}}
      </p>
      <p>
        <a target="_blank" href="https://github.com/Teradriel/Calculadora"
          >FRONTEND</a
        >
      </p>
      <p>
        <a target="_blank" href="https://teradriel.github.io/Calculadora/"
          >DEMO</a
        >
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/calculadora.png"
        alt="calc"
        width="200"
        height="200"
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        {{t('task')}}
        <span class="text-muted">Angular</span>
      </h2>
      <p class="lead">
        {{t('task_parag')}}
      </p>
      <p>
        <a target="_blank" href="https://github.com/Teradriel/todo-app"
          >FRONTEND</a
        >
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/task-list.png"
        alt="task-list"
        width="200"
        height="200"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        {{t('log')}}
        <span class="text-muted">Angular + MySQL + JAVA</span>
      </h2>
      <p class="lead">
        {{t('log_parag')}}
      </p>
      <p>
        <a target="_blank" href="https://github.com/Teradriel/logbook-front"
          >FRONTEND</a
        >
        -
        <a target="_blank" href="https://github.com/Teradriel/logbook-back"
          >BACKEND</a
        >
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/logbook.png"
        alt="logbook"
        width="200"
        height="200"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        {{t('micro')}}
        <span class="text-muted">.NET</span>
      </h2>
      <p class="lead">
        {{t('micro_parag')}}
      </p>
      <p>
        <a target="_blank" href="https://github.com/Teradriel/MicroHardness"
          >FULL APP</a
        >
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/hardness.png"
        alt="MicroHardness"
        width="200"
        height="200"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        {{t('no_country')}}
        <span class="text-muted">JAVA-REACT</span>
      </h2>
      <p class="lead">
        {{t('no_country_parag')}}
      </p>
      <p>
        <a target="_blank" href="https://github.com/No-Country/c14-38-t-java-react"
          >REPOSITORY (FRONTEND + BACKEND)</a
        >
      </p>
      <p>
        <a target="_blank" href="https://stockwise.pulsowebs.com/"
          >DEPLOYMENT</a
        >
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/nocountry.png"
        alt="NoCountry"
        width="200"
        height="200"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

</section>
