<div class="contenedor rectangle" *transloco="let t; read: 'projects'">
  <h1 class="texto">{{ t("title") }}</h1>
</div>
<section *transloco="let t; read: 'projects'">
  <div class="project-card fade-in-up" appIntersect>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          {{ t("micro") }}
          <span class="text-muted">.NET</span>
        </h2>
        <p class="lead">
          {{ t("micro_parag") }}
        </p>
        <p>
          <a target="_blank" href="https://github.com/Teradriel/MicroHardness"
            >FULL APP</a
          >
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/images/hardness.png"
          alt="MicroHardness"
          width="200"
          height="200"
        />
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="project-card fade-in-up" appIntersect>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          {{ t("no_country") }}
          <span class="text-muted">JAVA-REACT</span>
        </h2>
        <p class="lead">
          {{ t("no_country_parag") }}
        </p>
        <p>
          <a
            target="_blank"
            href="https://github.com/No-Country/c14-38-t-java-react"
            >REPOSITORY (FRONTEND + BACKEND)</a
          >
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../../../assets/images/nocountry.png"
          alt="NoCountry"
          width="200"
          height="200"
        />
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="project-card fade-in-up" appIntersect>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          {{ t("bmpresence") }}
          <span class="text-muted"> Angular · Java · Spring Boot</span>
        </h2>
        <p class="lead">
          {{ t("bmpresence_parag") }}
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/images/bmpresence.png"
          alt="BMPresence"
          width="200"
          height="200"
        />
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="project-card fade-in-up" appIntersect>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          {{ t("rdpgenerator") }}
          <span class="text-muted">
            C# · .NET MAUI · SQLite · Serilog · Syncfusion · MVVM</span
          >
        </h2>
        <p class="lead">
          {{ t("rdpgenerator_parag") }}
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../../../assets/images/rdpgenerator.png"
          alt="RDPGenerator"
          width="200"
          height="200"
        />
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="project-card fade-in-up" appIntersect>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          {{ t("secretcard") }}
          <span class="text-muted"> C# · .NET MAUI · Firebase · MVVM</span>
        </h2>
        <p class="lead">
          {{ t("secretcard_parag") }}
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/images/secretcard.png"
          alt="SecretCard"
          width="200"
          height="200"
        />
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="project-card fade-in-up" appIntersect>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          {{ t("rdpissues") }}
          <span class="text-muted"> C# · .NET MAUI · MVVM · Syncfusion</span>
        </h2>
        <p class="lead">
          {{ t("rdpissues_parag") }}
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../../../assets/images/rdpissues.png"
          alt="RDPIssues"
          width="200"
          height="200"
        />
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="project-card fade-in-up" appIntersect>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          {{ t("onsalesbackend") }}
          <span class="text-muted"> C# · .NET WPF · XAML · MVVM</span>
        </h2>
        <p class="lead">
          {{ t("onsalesbackend_parag") }}
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/images/onsalesbackend.png"
          alt="OnSalesBackend"
          width="200"
          height="200"
        />
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />
</section>
