<footer *transloco="let t, read 'footer'">
  <p>
    {{t('copy')}}
    <a href="https://github.com/Teradriel" target="_blank"> github </a>{{t('copy_2')}}
  </p>
  <small>
    {{t('parag')}} 
    <a href="https://ng-bootstrap.github.io/#/home" target="_blank">Ng-Bootstrap</a>,
    <a href="https://www.npmjs.com/package/@fortawesome/angular-fontawesome" target="_blank"
      >Angular Fontawesome</a
    >, <a href="https://angular.io/" target="_blank">Angular</a> 
    {{t('and')}} 
    <a href="https://ngneat.github.io/transloco/" target="_blank">Tansloco</a>.
  </small>
</footer>
